.overlay{
    color: gray;
    position: absolute;
    z-index: 2;
  }
  
  #info{
    left: 0px;
  }
  
  #timeinfo{
    top: 25px;
  }

  #timeline{
    width: 96%;
    height: 10%;
    padding-left: 2%;
    padding-right: 2%;
    bottom: 0px;
    display:block;
  }
  
  #caseSelector{
    right:0px
  }

  .centered{
    width: 100%;
    text-align: center;
  }

  #assetURL{
    width: 50%;
    opacity: 0.4;
    width: auto;
    min-width: 25%;
    max-width: 50%;
  }

  #assetURL:hover{
    opacity: 0.7;
  }

  .inputBtn{
    opacity: 0.6;
  }

  .inputBtn:hover{
    opacity: 0.9;
  }
  